{% extends 'header.html' %}

{% block title %}Category List - Your E-commerce Store{% endblock %}

{% block content %}

{% load static %}
<br>
<br>
<div class="container mt-4">
    <div class="container mt-4">
        <div class="row">
            {% for category in categories %}
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <img src="{% if category.image %}{{ category.image.url }}{% else %}{% static 'img/default_category.jpg' %}{% endif %}" class="card-img-top" alt="{{ category.name }} Image" height="200px">
                        <div class="card-body">
                            <h5 class="card-title" style="color: blue;">{{ category.name }}</h5>
                            <h6 class="card-text" style="color: black; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">{{ category.description }}</h6>
                            <a href="{% url 'product_list_by_category' category_slug=category.slug %}" class="btn btn-primary">View Products</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated: {{ category.updated }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <!-- <h1>Category List</h1>

    <ul>
        {% for category in categories %}
            <li>
                <a href="{% url 'product_list_by_category' category_slug=category.slug %}">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'product_list' %}">View All Products</a></p> -->
{% endblock %}
